{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p><a href="/">Home</a> | <a href="/vocabulary/words">Vocabulary</a></p>

    <br>

    <form method="post" action="/vocabulary/word/{{word.id}}?_method=PUT">
      <div class="form-group">
        <label>English</label>
        <input type="text" name="original" class="form-control" value="{{word.original}}" required>
        <label>Translation</label>
        <input type="text" name="translation" class="form-control" value="{{word.translation}}" required>
      </div>
      <button type="submit" class="btn btn-default">Update</button>
    </form>

    <br>

    <form method="post" action="/vocabulary/word/{{word.id}}?_method=DELETE" class="form-inline" id="delete-word-form">
      <button type="submit" class="btn btn-default" id="delete-word-button">Delete</button>
    </form>
    <br>
  </div>
  <script type="text/javascript" src="/js/vocabulary.js"></script>

{% endblock %}
