{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  <div class="container">

    {% include 'header.html' %}  
    <p><a href="/">Home</a></p>

    <br>
    Filter: <input type="text" id="filter-date" autocomplete="off"> <a class="btn btn-light" href="#" id="filter-reset">Reset</a>
    <br>

    <div id="log-block">
      <ul id="log-rows">
      {% for row in log %}
        <li>{{row.added|date('Y-m-d H:i:s')}} <a href="/vocabulary/word/{{row.word_id._id|safe}}">{{row.word_id.original|safe}}</a> - {% if row.train_result %}yes{% else %}no{% endif %}</li>
      {% endfor %}
      </ul>
    </div>
    <br>    

  </div>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone.min.js"></script>
  <script2 src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.32/moment-timezone-utils.min.js"></script>  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="/js/log.js"></script>
{% endblock %}

