{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  <div class="container">
    {% include 'header.html' %}  
    <p><a href="/">Home</a></p>

    <br>
    
    <h4>Statistics</h4>

    <div class="form-check">
      Training period: 
      <form method="get">
        <input type="text" id="filter-date-from" name="date_from" value="{{filter_date_from}}" autocomplete="off"> <input type="text" id="filter-date-to" name="date_to" value="{{filter_date_to}}" autocomplete="off">
        <input type="submit" value="Filter"> <a href="?">Reset</a>
      </form>
    </div>


    
    
    

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <br><br>
    <h5>Top 100 best memorized words</h5>
    <ol id="word-list">
    {% for trainResult in trainStatBest %}
      <li>
      <b></b>{{bestWords[trainResult._id.word_id].original}}</b>{% if bestWords[trainResult._id.word_id].translation %} - {{bestWords[trainResult._id.word_id].translation}}{% endif %}
      {%if trainResult.ratio%} <span class="badge {% if trainResult.success_rate > 90 %}badge-success{% else %}badge-warning{% endif %}">
        {{trainResult.success_rate}}% (Yes: {{trainResult.train_result_yes}} / No: {{trainResult.train_result_no}})</span> 
      {% else %}
      <span class="badge badge-secondary">Haven't trained</span>
      {% endif %}
      </li>
    {% endfor %}
    </ol>
    <br></br>
    <h5>Top 100 worst memorized words</h5>
    <ol id="word-list">
    {% for trainResult in trainStatWorst %}
      <li>
      <b></b>{{worstWords[trainResult._id.word_id].original}}</b>{% if worstWords[trainResult._id.word_id].translation %} - {{worstWords[trainResult._id.word_id].translation}}{% endif %}
      {%if trainResult.ratio%} <span class="badge {% if trainResult.success_rate > 90 %}badge-success{% else %}badge-warning{% endif %}">
        {{trainResult.success_rate}}% (Yes: {{trainResult.train_result_yes}} / No: {{trainResult.train_result_no}})</span> 
      {% else %}
      <span class="badge badge-secondary">Haven't trained</span>
      {% endif %}
      </li>
    {% endfor %}
    </ol>

    <script type="text/javascript" src="/js/statistics.js"></script>
  </div>

{% endblock %}

