var config: any = {};
// Google Oauth credentials
config.auth = {};
config.auth.client_id = '';
config.auth.client_secret = '';
config.auth.session_secret = '';
config.auth.host = ''; // with http or https, without ending slash

config.mongo = {};
config.mongo.user = '';
config.mongo.password = '';
config.mongo.db = '';
config.mongo.port = '';
config.mongo.host = '';

config.basic = {};
config.basic.users = {'user' : 'pass'};

module.exports = config;

